
@{

    ViewData["Title"] = "訂單查詢";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.css" />

    <style type="text/css">

        th {
            background-color: #F7F2E0;
        }

        .text-nowrap {
            white-space: nowrap;
        }

        .th-w66px .th-inner {
            width: 66px;
        }

        .th-w180px .th-inner {
            width: 180px;
        }

        .th-w230px .th-inner {
            width: 260px;
        }

        .th-w320px .th-inner {
            width: 320px;
        }

        .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
            position: relative;
            top: 0;
        }
    </style>
}
@section Scripts {
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.js"></script>
    <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-zh-TW.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">首頁</a></li>
                    <li class="breadcrumb-item active" aria-current="page">訂單查詢</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

        </div>
    </div>
    <div class="row mt-1">
        <div class="col-12">
            <table id="table"
                   data-toggle="table"
                   data-url="@Url.Content("~/Order/FetchData")"
                   data-sort-name="order_mid" data-sort-order="desc"
                   data-page-size="50"
                   data-page-number="1"
                   data-side-pagination="server"
                   data-id-field="order_mid"
                   data-page-list="[10, 25, 50, 100, 200, All]"
                   data-pagination="true">
                <thead>
                    <tr>
                        <th data-align="center" data-formatter="ColumCheckBox">
                            <input type="checkbox" class="check-all mr-2" />序號
                        </th>
                        <th data-field="order_master_mid" data-sortable="true" class="text-nowrap">訂單主檔</th>
                        <th data-field="order_mid" data-sortable="true" class="text-nowrap">訂單編號</th>
                        <th data-field="prod_name" data-sortable="true" class="th-w320px">商品名稱</th>
                        <th data-field="ota_order_id" data-sortable="true" class="text-nowrap">OTA 訂單編號</th>
                        <th data-field="ota_prod_name" data-sortable="true" class="text-nowrap">OTA 商品名稱</th>
                        <th data-field="ota_sequence_id" data-sortable="true" class="text-nowrap">OTA 交易識別</th>
                        <th data-field="ota_item_plu" data-sortable="true" class="text-nowrap">PLU</th>
                        <th data-formatter="ColumnUser" class="text-nowrap">最後更新者</th>
                        <th data-formatter="TableActions" class="text-nowrap"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">var current_prod = {};

    $(function () {

        $(document).on('shown.bs.modal', '.modal', function (e) {
            var _modal = this;
            //console.log("Modal ID --> " + this.id);
            if (e.relatedTarget == undefined) return; // call js directly!

            link = $(e.relatedTarget);
            if (link.attr("data-title") != "" || link.attr("data-title") != undefined) {
                $(this).find(".modal-title").html(link.attr("data-title"));
            }

            rel_url = link.attr("href") == undefined ? link.attr("data-rel") : link.attr("href");
            action = link.attr("data-action");
            //console.log("data-action:" + action);
            if (action == undefined) return;

            $(this).find(".modal-body").html('<img src="/images/loading.gif" style="width:32px;" />').load(rel_url, function () {
                _cmd = "";
                if (action == "add") _cmd = "ExpandProductMap();";
                if (action == "edit") _cmd = "UpdateMapItem();";
                console.log("==> _cmd = " + _cmd)
                if (_cmd != "") $(_modal).find(".modal-footer > .confirm").unbind("click").bind("click", function () { eval(_cmd); });
            });
        });

        $(document).on('hide.bs.modal', '.modal', function (e) {
            $(this).find('.modal-body').html('');
            $(this).data('bs.modal', null);
        });

        $('#table').on('load-success.bs.table', function (event, rowArray) {
            BindCheckAll();
        })
    });

    function Refresh() {
        _filterCond = JSON.stringify({});
        $("#table").bootstrapTable("refresh", {
            url: _root_path + "Order/FetchData?filter=" + _filterCond
        });
    }

    function ColumCheckBox(value, row, index) {
        return [
            '<input type="checkbox" class="check-item mr-2" value="' + row.map_seq + '" /> ',
            row.map_seq
        ].join('');
    }

    function ColumnUser(value, row, index) {
        return [
            '<span>' + (row.modify_user == null ? row.create_user : row.modify_user) + '</span> <br/>',
            '<span>' + (row.modify_user == null ? row.create_time.substring(0, 10) : row.modify_time.substring(0, 10)) + '</span>'
        ].join('');
    }

    function TableActions(value, row, index) {
        return [
            @*'<a href="' + _root_path + 'ProductMap/Edit/' + row.map_seq + '" class="btn btn-success" data-backdrop="static"',
            '   data-keyboard="false" data-toggle="modal" data-target="#CommonModal" data-title="編輯對應"',
            '   data-action="edit">編輯</a>'*@
        ].join('');
    }

    function BindCheckAll() {
        $(".check-all").change(function () {
            $(".check-item").prop('checked', $(this).prop("checked"));
        });

        $('.check-item').change(function () {
            if (false == $(this).prop("checked")) { //if this item is unchecked
                $(".check-all").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.check-item:checked').length == $('.check-item').length) {
                $(".check-all").prop('checked', true);
            }
        });
    }

    function RemoveMapItems() {
        targets = $('.check-item:checked').map((i, m) => parseInt($(m).val())).get();
        //console.log(" ===> removed target maps: " + JSON.stringify(targets))
        if (targets.length < 1) { alert('請先選擇一個以上的商品對應項目!'); return; }
        if (!confirm('您確定要移除選擇的對應項目?')) return;

        req = { maps: targets };
        console.log(" ===> RemoveMaps: " + JSON.stringify(req))

        $.getJSON(_root_path + "ProductMap/RemoveMaps", $.param(req, true), (result) => {
            if (result.status) {
                Refresh();
            }
            else {
                alert('刪除對應項目-作業失敗: ' + result.msg);
            }
        });
    }

    function CopyToClipBoard(obj) {
        var text = $(obj).prev().text();
        const elem = document.createElement('textarea');
        elem.value = text;
        document.body.appendChild(elem);
        elem.select();
        document.execCommand('copy');
        document.body.removeChild(elem);

        alert("已複製到剪貼簿。");
    }</script>
