@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LoginLayout";
}

<div class="container">
    <div class="row justify-content-center"> 
        <div class="col-md-4 mt-4" style="border:1px solid #ccc; border-radius:8px; padding:16px;">
            <h3>登入</h3>
            <form id="login_form">
                <div class="form-group">
                    <input type="text" id="account" name="account" class="form-control" placeholder="Your Account *" required />
                </div>
                <div class="form-group">
                    <input type="password" id="passwd" name="passwd"  class="form-control" placeholder="Your Password *" required />
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-primary" value="登入" onclick="Login();" />
                </div>
                <div class="form-group">
                    <a href="#" class="">忘記密碼?</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#login_form').bootstrapValidator({
            feedbackIcons: {
                valid: null,
                invalid: null,
                validating: null
            }
        }); 
    })

    function Login() {
        $('#login_form').data("bootstrapValidator").validate();
        if (!$('#login_form').data("bootstrapValidator").isValid()) { alert("請檢查必要欄位是否滿足!"); return false; }

        req = { account: $('#account').val(), passwd: $('#passwd').val() };
        $.getJSON(_root_path + "Login/SignIn", req, function (result) {
            if (result.status) {
                window.location.href = "/";
            }
            else {
                alert(result.msg);
            }
        });
    }
</script>